<!DOCTYPE html> 
<html> 
	<head>     
		<meta charset="utf-8">     
		<title>Food_Infographic</title> 
		<link rel = "stylesheet" href = "../public/CSS/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head> 
	
	<body>
		<main>	

			<!-- Modal -->
			<div id="myModal1" class="modal fade" role="dialog" style = "margin-right:10px; margin-left:10px;">
			  <div class="modal-dialog" style = "width:1076px;">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header" style = "padding-top:5px; padding-bottom: 0px;">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">
			      	<div id = "graph1">
				         <iframe id="dv-550cd81509693862220" src="https://s3.amazonaws.com/datavisual/embeds/280bf416f1.html" style="height:500px; max-width:1076px; width:100%; border: 0px; overflow: hidden" scrolling="no"></iframe>
						<script src="http://datavisu.al/js/lazyLoad.js#!dv-550cd81509693862220,280bf416f1.html"></script>
					</div>
			      </div>
			    </div>

			  </div>
			</div>	

			<div id="myModal2" class="modal fade" role="dialog" style = "margin-right:10px; margin-left:10px;">
			  <div class="modal-dialog" style = "width:1076px;">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header" style = "padding-top:5px; padding-bottom: 0px;">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">
			      	<div>
				        <iframe id="dv-550d301509695929697" src="https://s3.amazonaws.com/datavisual/embeds/3d0f2f58c4.html" style="height:500px; max-width:1076px; width:100%; border: 0px; overflow: hidden" scrolling="no"></iframe>
						<script src="http://datavisu.al/js/lazyLoad.js#!dv-550d301509695929697,3d0f2f58c4.html"></script>
					</div>
			      </div>
			    </div>

			  </div>
			</div>

			<div id="myModal3" class="modal fade" role="dialog" style = "margin-right:10px; margin-left:10px;">
			  <div class="modal-dialog" style = "width:1076px;">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header" style = "padding-top:5px; padding-bottom: 0px;">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">
			      	<div id = "graph1">
				        <iframe id="dv-550d681509697008697" src="https://s3.amazonaws.com/datavisual/embeds/167b15d314.html" style="height:500px; max-width:1076px; width:100%; border: 0px; overflow: hidden" scrolling="no"></iframe>
<script src="http://datavisu.al/js/lazyLoad.js#!dv-550d681509697008697,167b15d314.html"></script>
					</div>
			      </div>
			    </div>

			  </div>
			</div>	





			 <div id = "striped_background" class=" pattern">	
				<div class = "row About_box" style = "margin: 0px auto 0px auto;  margin-top: 20px; margin-bottom: 40px;">
						<div id = "side_box" class = "nav_col col-4">	
							<nav>	
									<div class = "row">
										<div id = "logo">
											<img src= "../public/images/food_waste_logo.png" width= "220" height= "220">
										</div>	
									</div>	
									<div class = "row">
										<div id= "navigation" style = "padding-top:20px; padding-left:20px;padding-right:20px;">	
											<p>Food waste is NOT just food waste in the USA. It makes us waste more in different ways, and it is a huge problem for not just us, but the world as well. </p>

											
											<p>You can click on the graphs to find out more!</p>
										</div> 
									</div>	
							</nav>	
						</div>


						<div id = "Second_col" class = "col-7">
							<div class = "row" style = "padding-bottom:20px;">
 
							<div class = "col-6">
								<!-- Trigger the modal with a button -->
								<div class = "row">
									<div id = "pie_chart" class = "col-11" style = "height: 240px;">
									<div style = "margin-top: 10px; margin-bottom: 10px;">	
										<button type="button" data-toggle="modal" data-target="#myModal1" style = "margin: 0px auto 0px auto; border-width: 0px; padding: 0px;"><img src="../public/images/circle.jpeg" width= "100%" height= "215" alt="Submit"></button>	
									</div>
									</div>
								</div>	
							</div>


							<div class = "col-6">
								<!-- Trigger the modal with a button -->
								<div class = "row">
									<div id = "money_chart" class = "col-11" style = "height: 240px;">
									<div style = "margin-top: 10px; margin-bottom: 10px;">	
										<button type="button" data-toggle="modal" data-target="#myModal2" style = "margin: 0px auto 0px auto; border-width: 0px; padding: 0px;"><img src="../public/images/financial_waste.jpeg" width= "100%" height= "215" alt="Submit"></button>	
									</div>
									</div>
								</div>	
							</div>
						</div>
						
							<div class = "row" style = "margin-right: 10px;">
						
							<div class = "col-12">
								<div class = "row">
									<div id = "pie_chart" class = "col-12" style = "height: 240px;">
									<div style = "margin-top: 10px; margin-bottom: 10px;">	
										<button type="button" data-toggle="modal" data-target="#myModal3" style = "margin: 0px auto 0px auto; border-width: 0px; padding: 0px;"><img src="../public/images/carbon.jpeg" width= "100%" height= "215" alt="Submit"></button>	
									</div>
									</div>
								</div>	



							</div>	
						</div> 



				</div>

			</div>
		</main>
		<!-- <footer>
			This is the footer!
		</footer> -->
	</body> 


</html>